<link href="~/Css/book/index.css" rel="stylesheet" />
@using EShop.Models
@{var bi = (BookInfo)Model;
  var date = DateTime.Parse(bi.CreateDate.ToString());
  var showDate = date.Year + "年 " + date.Month + "月";
  var d = decimal.Parse(bi.Price.ToString());
  var price = Math.Round(d, 2).ToString();
  var d2 = decimal.Parse(bi.Original.ToString());
  var original = Math.Round(d2, 2).ToString();
  }
<div class="result-title">
    <h4>
        <a href="#">全部</a> > 
        <span id="itemNav">@ViewBag.Content</span>
    </h4>
</div>
<div class="info">
    <div class="p-content">
        <div class="left-pic">
            <img src="@bi.ISBN" title="@bi.Name" width="400" height="400" alt="" />
        </div>
        <div class="center-sales">
            <h3>@bi.Name</h3>

            <div class="sales-price">
                <span class="sales-priceleft">价格</span> <span class="sales-priceicon">￥</span>
                <span class="sales-pricenew">@price</span>
            </div>
            <div class="sales-info">
                <span class="sales-left">原价</span> <span class="sales-right discount-right">@original 元</span>
            </div>
            <div class="sales-info">
                <span class="sales-left">作者</span> <span class="sales-right">@bi.Author</span>
            </div>
            <div class="sales-info">
                <span class="sales-left">出版时间</span> <span class="sales-right">@showDate</span>
            </div>
            <div class="sales-info">
                <span class="sales-left">内容简介</span> <span class="sales-right">@bi.Describe</span>
            </div>
            <div class="sales-choose">
                <a href="/UserAdmin/Index" id="shoppingCar" target="_blank">加入购物车</a>
                <a href="/UserAdmin/Index" id="shoppingCar" target="_blank">>>马上购买</a>
            </div>
        </div>

       
        @*<div class="right-shop">
            <div class="right-shop-title">
                <span class="title-look">看了又看</span> <span class="title-right"></span>
            </div>
            <ul class="right-shop-list">
                <foreach name="goods_kk" value="v" key="k">
                    <li>
                        <a href=""><img src="~/Images/notImage.jpg" width="139" height="140" alt="" /></a>
                        <div class="price">￥88</div>
                    </li>
                    <li>
                        <a href=""><img src="~/Images/notImage.jpg" width="139" height="140" alt="" /></a>
                        <div class="price">￥88</div>
                    </li>
                </foreach>
            </ul>
        </div>*@
        
    </div>
</div>